<div class="container-fluid">
    <!--NAV BAR-->
    <div class="row sticky-top bg-secondary">
        <div class="col-12 d-flex justify-content-end bg-secondary" style="padding: 8px;">
         <button class="btn btn-secondary text-light b" style="font-size: 15px;">Login</button>
            
        </div>
    </div>

    <div class="row justify-content-center align-items-center"><h1 class="h1">Qoute of the Day</h1></div>
    
    <!--QOUTE OF THE  DAY IMG-->
    <div class="row justify-content-center">
       <img  src="assets/img1.jpg" alt="" style="height: 600px; width: 800px; background-repeat: cover;">
    </div>

    <div class="row justify-content-center align-items-center"><h1 class="h1">Motivational Qoutes</h1></div>
    <div>
        <div class="card-columns p-2 m-2">
            <div class="card">
              <img src="assets/img4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">“All our dreams can come true, if we have the courage to pursue them.”</h5>
              </div>
            </div>
           
            <div class="card">
              <img src="assets/img2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">“To accomplish great things, we must not only act, but also dream, not only plan, but also believe.”</h5>
                </div>
            </div>

            <div class="card">
                <img src="assets/img10.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">“Don’t wait for your feelings to change to take the action. Take the action and your feelings will change.”
                </h5>
                 </div>
              </div>

            <div class="card">
              <img src="assets/img10.jpg" class="card-img-top" alt="...">
            </div>

            <div class="card">
                <img src="assets/img2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">“You measure the size of the accomplishment by the obstacles you had to overcome to reach your goals.”</h5>
                  </div>
            </div>
            
            <div class="card">
                <img src="assets/img3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">“The difference between a stumbling block and a stepping stone is how high you raise your foot.”</h5>
                 </div>
            </div>
          </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <h1 class="h1">Go To Login And Maintain Your Own Qoute Gallery</h1> <br>
    </div>
       <!--footer-->
       <div class="row bg-secondary" style="height: 15vh;">
        <div class="col-12 d-flex justify-content-center">
            <div class="row footer">Contact Us</div> 
        </div> 
        <div class="col-12 d-flex justify-content-center">
            <div class="row footer">Anjali Sonawane : 
                <p>EmailID: anjalisoanwane.24@gmail.com</p>
            </div> 
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="row footer">Anand Gujja : 
                <p>EmailID: anand.gujja.07@gmail.com</p>
            </div> 
        </div>   
</div>
</div>
    

 