.footer{

    color: white; font-family: cursive;
    }

    .h1{
        font-weight: bold;
        font-size: 50px;
        color: rgba(31, 6, 6, 0.767);
    }

.b{
    padding: 5px; 
    margin: 10px; 
    size: 50px;
    font-weight: bold;
    color: rgba(31, 6, 6, 0.767);
    font-family: cursive;
}